# Entorno virtual
venv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de entorno
.env
.env.*

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Archivos del sistema
.DS_Store
Thumbs.db

# Build / distribuciones
build/
dist/
*.egg-info/

# Logs
*.log